html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;

}

body {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    display: none;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: none;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
  

/*.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 19vh;
    background-color: whitesmoke;
    z-index: 2;
  }

  #logo {
    width: 30vw;
    height: 18vh;
    position: fixed;
    left: 5%;
    z-index: 2;
  }

  header {
    background-image: url(/img/slider_InsiderMonkey.webp);
    background-size: 100vw 85vh;
    background-size: cover;
    position: relative;
    width: 100vw;
    top: 30%;
    height: 85vh;
  }

  .text-on-img {
    position: absolute;
    top: 52%;
    left: 25%;
    width: 50vw;
    color: white;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.9rem;
    text-align-last: center;
  }

  .link-on-img {
    position: absolute;
    top: 80%;
    left: 30%;
    width: 30vw;
    color: black;
    background-color: white;
    padding: 1rem;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5rem;
    text-align-last: center;
    text-decoration: none ;

  }

  .about {
    font-size: 1.7rem;
    font-weight: 400;
    width: 95%;
    text-align: center;
    padding-left: 3rem;
  }

  

  section.b {
    background-color: #3a3a3a;
    color: white;
    text-align: center;
  }

  section.b {
    display: none;
    background:url(/img/WorldMap_01162024.webp);
    position: relative;
    width: 100vw;
    height: 500px;
    background-size: cover;
    color: ;
  }

  .at-a-glance {
    padding-top: 3rem;
    font-weight: 600;
    font-size: 3.5rem;
    word-spacing: 2px;
  }

  .h44 {
    font-size: 4rem;
    font-weight: 700;
  }

  .p44 {
    color: #a19065;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;

  }
  
  #growth-icon {
    display: block;
    margin: auto;
    color: lightblue;
    opacity: 0.3;
    width: 20%;
  }

  .h33 {
    font-size: 2.5rem;
    font-weight: 900;
    word-spacing: 5px;
    text-align: center;
  }

  .p33 {
    width: 90%;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    padding-left: 5rem;
  }

  section.d {
    background-color: #2380bb;
    color: white;
    text-align: center;
  }

  .quote {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    padding: 15px 0 0 50px;
    width: 90%;
    font-family: 'Times New Roman', Times, serif;
  }

  .perry {
    width: 90%;
    font-weight: 400;
    font-size: 1.7rem;
    text-align: center;
    padding-left: 1rem;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  section.e {
    background-image: url(/img/newssection-background-070716-min.webp);

  }

  .text {
    background-color: rgba(255, 255, 255, 1);
    margin: auto;
    text-align: center;
    width: 90%;
    padding: 1rem;
    color: #aa8d43;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .latest {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
  }

  section.f {
    background:#3a3a3a;
    color: grey;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    text-indent: 20px;
    width: 100%;
    height: 190vh;
    text-align-last: left;
    letter-spacing: 3px

  }


  #last-logo {
    position: static;
    top: 20%;
    left: 2%;
    width:250px
  }

  .company {
    position:static;
    top: 30%;
    left: 25%;
    width:100%;
    font-size: 1.3rem;
  }

  .more {
    position: static;
    top: 30%;
    left: 75%;
    width:100%;
    font-size: 1.3rem;
  }

  .news {
    position: static;
    top: 30%;
    left: 45%;
    width:70%;
    font-size: 1.3rem;
    line-height: 1.5;

  }

  p.line {
    border-top: 0.1px solid grey;
    margin-top: -20px;
    width: 50%;
    display: none;
    
  }

  .com {
    padding-top: 0px;
  }

  h5 {
    color: white;
    font-size: 2rem;

  }

  footer {
    position: static;
    background-color: black;
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: 1.4rem;
    font-weight: 500;

  }
  